.register-form-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.register-form {
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding: 20px;
    background-color: #efefef;
    width: 500px;
}