.car-edit-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 600px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}